header {
    border: 3px solid black;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    height: 150px;
    width: 500px;
}

.underscores{
    border: 3px solid black;
    font-size: 20px;
    text-align: center;
    margin: 25px auto;
    height: 150px;
    width: 500px; 
}

.rightGuess{
    border: 3px solid black;
    font-size: 20px;
    text-align: center;
    margin: 25px auto;
    height: 150px;
    width: 500px;
}

.wrongGuess{
    border: 3px solid black;
    font-size: 20px;
    text-align: center;
    margin: 25px auto;
    height: 150px;
    width: 500px;
}